 * { touch-action: pan-y; } 
.kg-ui-dialog .ui-dialog-body {
	padding: 10px;
	/* padding-bottom: 0px; */
}

.kg-ui-dialog .ui-dialog-button {
	float: none;
	text-align: center;
	white-space: nowrap;
}

.kg-ui-dialog .ui-dialog-footer button {
	/* letter-spacing: 5px; */
	text-indent: 5px;
	text-algn: center;
}

.kg-ui-dialog .ui-dialog-footer button.ui-dialog-autofocus {
	color: var(--primary-color);
    background-color: var(--primary-background-color);
    border-color: var(--primary-border-color);
}

.kg-ui-dialog .ui-dialog-footer button.ui-dialog-autofocus:hover, .ui-dialog-footer button.ui-dialog-autofocus:focus,
	.ui-dialog-footer button.ui-dialog-autofocus:active {
	color: var(--primary-hover-color);
    background-color: var(--primary-hover-background-color);
    border-color: var(--primary-hover-border-color);
}

.kg-group input.kg-control {
	line-height: 1.2em;
}

.kg-ui-dialog .ui-dialog-button {
	float: none;
	display: block;
}

#kg-handwrite select,
#kg-handwrite select option{
	border-radius: 2px;
	height:20px;
	width:82px;
	font-size:12px;
	margin-left:1px;
	
	
} 

.kg-ui-dialog .ui-dialog-button button {
	width: 100%;
	display: block;
	margin-top: 10px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.kg-button {
	width: calc(100% - 42px);
	display: block;
	margin: 10px auto;
	padding-top: 1em;
	padding-bottom: 1em;
	/* letter-spacing: 5px; */
	text-indent: 5px;
}

.kg-content{
	height:310px;
}
button[i-id="revoke"]{
  color:var(--default-color);
  background-color: var(--default-background-color);
  border-color: var(--default-border-color);
  transition: all 500ms;
}

button[i-id="revoke"]:active {
  color: var(--default-hover-color);
  background-color: var(--default-hover-background-color);
  border-color:var(--default-hover-border-color);
}

.kg-ui-dialog .ui-dialog-footer button+button {
	margin-left: 0px;
}

.kg-runSignature .kg-group {
	padding-top: 15px;
}

.kg-dialog-info .kg-tab-content {
	/* padding-top: 5px; */
	height: auto;
}
#kg-barcode{
	padding-top:10px;
	position: relative;
}
label[data-kgi18n-html='QrCodeContent'],
#bcId{
	position: absolute;
}
#bcId{
	right:7px;
}
#kg-barcode>label{
    height: 50px;
    line-height: 50px;
}

@media screen and (max-width:700px) {
	.kg-dialog-info {
		width: calc(100vw - 40px);
	}
	.kg-dialog-info .kg-meta {
		width: 100%;
		font-size: calc(14px + 4 * ( 100vw - 600px) / 400);
	}
	
	.kg-dialog-info .kg-content {
		padding: 0px;
	}
	.kg-dialog-info .kg-meta {
		padding: 0px;
		margin: 0px;
	}
	.kg-dialog-info .kg-meta .kg-item {
		/* padding: 2px 5px; */
		position: relative;
		height:auto;
	}
	
	.kg-dialog-info .kg-meta .kg-item .kg-label {
		position: absolute;
		top: 4px;
		top: calc(4px + 4 * ( 100vw - 700px) / 400);
		left: 0px;
		width: 70px;
		width:  calc((14px + 4 * ( 100vw - 600px) / 400 ) * 6)
	}
	.kg-dialog-info .kg-meta .kg-item .kg-value {
		width: auto;
		position: static;
		margin-left: 70px;
		margin-left: calc((14px + 4 * ( 100vw - 600px) / 400 ) * 6);
	}
	
	
	.kg-dialog-info .kg-item.kg-nosign .kg-label {
		display: none;
		position: static;
	}
	.kg-dialog-info .kg-item.kg-nosign {
		text-align: center;
		margin: 0 auto;
		padding: 0px;
		position: static;
	}
	
	.kg-dialog-info .kg-item.kg-nosign .kg-value {
		border-bottom: 0px;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0px;
	}
	
.kg-button {
	width: calc(100% - 40px);
	display: block;
	margin: 10px auto;
	padding-top: 1em;
	padding-bottom: 1em;
	/* letter-spacing: 5px; */
	text-indent: 5px;
}
	
}
@media screen and (max-width:360px) {
	.kg-dialog {
		width: auto;
	}
	.kg-dialog-info {
    	width: calc(100vw - 40px);
    }
	.kg-dialog-password {
		width: 296px;
		width: calc(100vw - 40px);
		padding: 0px;
	}
	button[type='button'] {
	    padding: 6px 15px!important;
	}
	
}

@media screen and (max-width:320px) {
	.kg-dialog-info .kg-meta .kg-item {
		position: static;
	}
	.kg-dialog-info .kg-meta .kg-item .kg-value{
		margin-left: 0px;
		
	}
	.kg-dialog-info .kg-meta .kg-item .kg-label {
		position: static;
		display:none;
	}
	
}

