.form-layout {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .form-content {
    height: calc(100% - 48px);
    box-sizing: border-box;
    padding: 10px 0;
    overflow-y: auto;
  }

  .btn-bar {
    height: 48px;
  }
}

.readonly-font {
  .van-field__control:read-only {
    color: #666 !important;
  }
}
