@charset "UTF-8";

section,
article,
aside,
header,
footer,
nav,
figure,
figcaption,
canvas,
img {
  display: block;
}

body,
dl,
dd,
p,
form,
input,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
figure,
fieldset {
  margin: 0;
}

ol,
ul,
td,
input,
fieldset {
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
label,
table {
  font-size: inherit;
}

body {
  /*font-family: \5FAE\8F6F\96C5\9ED1; !* 微软雅黑 *!*/
  /* -webkit-overflow-scrolling: touch; */
  -webkit-font-smoothing: antialiased;
  /* 抗锯齿 */
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select {
  font-size: inherit;
  border-radius: 0;
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  border: none;
  outline: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  line-height: initial;
}

input[type=checkbox],
input[type=radio] {
  vertical-align: sub;
  border: none;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

em,
i {
  font-style: normal;
  font-size: inherit;
}

pre {
  white-space: pre-wrap;
}

img {
  width: 100%;
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -webkit-touch-callout: none;
  /* 禁止长按响应系统菜单 */
  -webkit-user-drag: none;
  /* 禁止拖动, 用于 mousemove 图片或含图片的模块 */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;

}

a,
.tap {
  cursor: pointer;

  touch-action: manipulation;
  /* 去除300ms点击响应延迟 */
  -webkit-tap-highlight-color: transparent;
  /* 去除模块点击高亮 */
}

mark {
  background: none;
  color: inherit;
}

/* iOS内嵌滚动优化 */
.scroll {
  -webkit-overflow-scrolling: touch;
}

/* 浮动与清浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  *zoom: 1;
  overflow: hidden;
}

.clearfix:after {
  display: block;
  content: '\200B';
  height: 0;
  clear: both;
}

/* 单行超出省略 */
.elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 多行超出省略 */
.clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 常用的 flex */
.flex {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
}

.iflex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.dc {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.fw {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jc {
  -webkit-justify-content: center;
  justify-content: center;
}

.je {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.ja {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.ac {
  -webkit-align-items: center;
  align-items: center;
}

.ae {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.fe {
  -webkit-align-self: flex-end;
  /* 水平布局贴底对齐 */
  align-self: flex-end;
}

.fg {
  -webkit-flex-grow: 1;
  /* 父级要明确宽/高; 会让子级宽/高不明 */
  flex-grow: 1;
}

.fn {
  -webkit-flex: none;
  flex: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-data {
  color: #969799;
  font-size: 0.28rem;
  line-height: 1rem;
  text-align: center;
}
